


.field-with-icon .file-uploader{
    padding: 0;
    width: 90%;
    display: flex;
}

.field-with-icon .file-uploader input{
    display: inline-block;
}


#song-file{
    display: none !important;
}


audio{
    width: 100%;
    height: 50px;
    margin: 20px;
    padding: 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 25px;
    margin-top: 30px;
}


.input-group-2-1 .input-container{
    width: 100%;
}

.input-group-2-2 .input-container{
    width: 100%;
}