body {
    background-color: black;
}

.content {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.1);
    color: white;
    font-family: 'Inter';
}

.content-album {
    display: flex;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 20px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-container img {
    aspect-ratio: 1;
    width: 200px;
}

.album-title {
    font-weight: 600;
    font-size: 20px;
}

.year{
    color: rgba(255,255,255,0.5);
}

.genre{
    color: rgba(255,255,255,0.5);
}

.card {
    width: fit-content;
}

.card:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
}