body {
    background-color: black;
}

#container {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.1);

}

#detail-album {
    display: flex;
    color: white;
}

.detail-song{
    display: flex;
    align-items: center;
}
.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.album-title {
    font-weight: 600;
    font-size: 36px;
}

.duration{
    color: rgba(255,255,255,0.5);
}

.thumbnail{
    aspect-ratio: 1;
    width: 200px;
    margin: 20px;
}

.empty-container {
    flex: auto;
}
.song-image{
    aspect-ratio: 1;
    height: 50px;
    margin: 20px;
}

.control-container img{
    aspect-ratio: 1;
    width: 30px;
}

.edit:hover {
    cursor: pointer;
}

.delete:hover {
    cursor: pointer;
}