#content {
    background: #fff;
    margin: 0 auto;
    padding: 20px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
}

.input {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.input label {
    text-align: start;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-family: "Inter";
    padding-left:20px;
}

.input input {
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 100px;
    font-size: 1.1rem;
    font-family: "Inter";
}

#div-button {
    display: flex;
    flex-direction: row-reverse;
}

#login-button {
    background-color: #25CC68;
    color: #000;
    font-weight: 700;
    line-height: 1.25rem;
    padding: 14px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Inter";
    width: 100%;
}

#login-button:hover{
    background-color: #1DB954;

}

@media (min-width: 450px) {
    #login-button {
        width: 145px;
    }
}

#login-button p {
    margin: 0;
}

hr {
    border: 1px solid #ccc;
    margin: 25px 0px 25px;
}

.label1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-family: "Inter";
}

#signup {
    text-align: center;
    color: #000;
    padding: 14px;
    border-radius: 24px;
    border: none;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-family: "Inter";
    border: 1px solid #000;
    background-color: #fff;
    text-decoration: none;
}

#signup:hover {
    background-color: #000;
    color: #fff;
}


.field {
    padding: 0px 0px 16px 0px;
    display: flex;
    flex-direction: column;
    
}

.field label {
    text-align: start;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-family: "Inter";
    padding-left:20px;
}

.field input {
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: "Inter";
    border-radius: 100px 100px 100px 100px;
}

#signup-button {
    text-align: center;
    background-color: #25CC68;
    color: #000;
    padding: 14px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-family: "Inter";
    width: 100%;
}

#signup-button:hover {
    background-color: #1DB954;
}


#logo-image{
    width: 166 px;
    height: 166 px;
    margin: 20px;
}

.error-message{
    margin-bottom: 1px !important;
}

/* .to-login {
    text-align: center;
}

.to-term {
    text-align: center;
} */