#content {
    background: #fff;
    margin: 0 auto;
    padding: 20px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
}

.input {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.input label {
    text-align: start;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-family: "Inter";
}

.input input {
    padding: 14px;
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
    box-shadow: inset 0 0 0 1px var(--essential-subdued,#878787);
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: "Inter";
}

#div-button {
    display: flex;
    flex-direction: row-reverse;
}

#login-button {
    background-color: #25CC68;
    color: #000;
    font-weight: 700;
    line-height: 1.25rem;
    padding: 14px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Exo";
    width: 100%;
}

@media (min-width: 450px) {
    #login-button {
        width: 145px;
    }
}

#login-button p {
    margin: 0;
}

hr {
    border: 1px solid #ccc;
    margin: 25px 0px 25px;
}

.label1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.6rem;
    font-family: "Inter";    
}

#register {
    text-align: center;
    color: #000;
    padding: 14px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-family: "Exo";
    border: 1px solid #000;
}

.field {
    padding: 0px 0px 16px 0px;
    display: flex;
    flex-direction: column;
}

.field label {
    text-align: start;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-family: "Inter";
}

.field input {
    padding: 14px;
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
    box-shadow: inset 0 0 0 1px var(--essential-subdued,#878787);
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: "Inter";    
}

#register-button {
    text-align: center;
    background-color: #25CC68;
    color: #000;
    padding: 14px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-family: "Exo";
    width: 100%;   
}

/* .to-login {
    text-align: center;
}

.to-term {
    text-align: center;
} */
