.pagination {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
}

.page-item::marker {
    content: "";
}

.page-item .active:hover {
    color: #000;
    background-color: #1DB954;
    margin-left: 0px;
    border-radius: 5px;
}

.page-item {
    font-size: 1.5rem;
    font-family: 'Inter';
    color: #FFFFFF;
    /* background-color: #161616; */
    margin-left: 5px;
    text-align: center;
    /* box-sizing: border-box; */
    width: 30px;
    border-radius: 5px;
}

.page-item .active {
    cursor: pointer;
}

select {
    background-color: white;
    border-radius: 100px 100px 100px 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    height: 32px;
    color: #404040;
    padding: 0px 20px;    
}

.sort-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sort {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sort label {
    display: block;
    font-size: 16px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.filter label {
    display: block;
    font-size: 16px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}