#detail-song {
    display: flex;
    color: white;
}

#song-info {
    align-self: center;
}
#thumbnail {
    margin: 20px;
    aspect-ratio: 1;
    width: 250px;
}

#title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

#artist {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

audio{
    width: 100%;
    height: 50px;
    margin: 20px;
    padding: 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 25px;
    margin-top: 30px;
}

.check-album-button {
    display: inline-block;
    background-color: #1DB954;
    height: 50px;
    padding: 0 22px;
    color: white;
    border-radius: 20px;
    width: fit-content;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding-top: 14px;
    white-space: nowrap;
}

.check-album-button-disabled {
    display: inline-block;
    background-color: #636363;
    height: 50px;
    padding: 0 22px;
    color: white;
    border-radius: 20px;
    width: fit-content;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding-top: 14px;
    white-space: nowrap;
}

.check-album-button:hover{
    background-color: #1ED760;
    cursor: pointer;
}

.empty-container {
    flex: auto;
}
.song-image{
    aspect-ratio: 1;
    height: 50px;
    margin: 20px;
}

.control-container img{
    aspect-ratio: 1;
    width: 30px;
}

.edit:hover {
    cursor: pointer;
}

.delete:hover {
    cursor: pointer;
}