<div class="sidebar">
    <ul>
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/courses">Courses</a></li>
        <li><a href="/admin/subjects">Subjects</a></li>
        <li><a href="/admin/lessons">Lessons</a></li>
        <li><a href="/admin/assignments">Assignments</a></li>
        <li><a href="/admin/grades">Grades</a></li>
        <li><a href="/admin/announcements">Announcements</a></li>
        <li><a href="/admin/feedbacks">Feedbacks</a></li>
    </ul>
</div>