<div class="sidebar">
    <ul>
        <li>
            <a href="/" class="logo">
                <img src="./img/logo-with-name.png" alt="Stupefy Logo">
            </a>
        </li>
        <li>
            <a href="/" class="sidebar-content active">
                <img src="./img/icons-home.png" alt="Home" class="sidebar-icon">
                <span class="sidebar-text">Home</span>
            </a>
        </li>
        <li>
            <a href="/public/album.php" class="sidebar-content">
                <img src="./img/icons-music-album-grey.png" alt="Albums" class="sidebar-icon">
                <span class="sidebar-text">Albums</span>
            </a>
        </li>
        <li>
            <a href="#" class="sidebar-content">
                <img src="./img/icons-user-grey.png" alt="Users" class="sidebar-icon">
                <span class="sidebar-text">Users</span>
            </a>
        </li>
        <li>
            <a href="#" class="sidebar-content">
                <img src="./img/icons-add-song-grey.png" alt="Add song" class="sidebar-icon">
                <span class="sidebar-text">Add song</span>
            </a>
        </li>
        <li>
            <a href="#" class="sidebar-content">
                <img src="./img/icons-add-album-grey.png" alt="Add album" class="sidebar-icon">
                <span class="sidebar-text">Add album</span>
            </a>
        </li>
        
    </ul>
</div>