<header>
    <nav>
        <div class="nav-content">
            <div class="search-bar">
                <form action="/public/search.php">
                    <div class="search-img-container">
                        <img src="./img/icons-search.png" class="search-img">
                    </div>
                    <input id="search-input" type="text" placeholder="Search for songs..." name="search"">
                </form>
            </div>
            <div class="user-info">
                <div class="user-name-container">
                    <span class="user-name">{{ user }}</span>
                    <span class="user-role">{{ role }}</span>
                </div>
            </div>
                <a class="logout" name="logout" onclick = logout(event)> Log out </a>
        </div>
    </nav>

</header>