<header>
    <nav>
        <div class="nav-content">
            <div class="search-bar">
                <form action="">
                    <div class="search-img-container">
                        <img src="./img/icons-search.png" class="search-img">
                    </div>
                    <input id="search-input" type="text" placeholder="Search for songs..." name="search">
                </form>
            </div>
            <div class="user-info">
                <div class="user-name-container">
                    <span class="user-name">{{ user }}</span>
                    <span class="user-role">{{ role }}</span>
                </div>
            </div>
            <form method="post">
                <input class="logout" value="Log out" name="logout" type="submit">
            </form>
        </div>
    </nav>

</header>