<header>
    <nav>
        <div class="nav-content">
            <div class="search-bar">
                <form action="">
                    <div class="search-img-container">
                        <img src="./img/icons-search.png" class="search-img">
                    </div>
                    <input id="search-input" type="text" placeholder="Search for songs..." name="search">
                </form>
            </div>
            <a href="signup.php">Sign up</a>
            <a href="login.php">
                <span class="login">
                    Log in
                </span>
            </a>
        </div>
    </nav>

</header>